.main-content {
  padding: 0;
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}

body {
  background-color: rgb(247, 247, 247);
}

.form-control:focus {
  border-color: #bf0016;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #bf0016;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
